* {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-image: url(https://images.unsplash.com/photo-1589535189132-7221b70db02a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1236&q=80);
  background-size: cover;
  background-position: top;
  padding: 0.5rem 1.5rem 1.5rem;
  max-width: 100%;
  height: fit-content;
}
.header_title-bin {
  width: 60%;
}

.header_title {
  color: white;
  margin-bottom: 2rem;
  font-size: 40px;
  padding-top: 1rem;
}
.header-label {
  color: white;
  letter-spacing: 1px;
  padding-bottom: 10px;
  font-size: 20px;
}
.add-new {
  display: flex;
  flex-direction: column;
}
.filter-sort{
  display: flex;
  flex-direction: row;
}
.filters{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}