.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 5px;
  justify-items: flex-start;
  width: 100%;
  font-size: 18px;
}
.list-item:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-item-description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.list_item-number {
  padding: 0.5rem;
  font-weight: 100;
  width: 40px;
}
.info {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.movie-title {
  width: 450px;
}
.movie-year {
  font-weight: 200;
  width: 50px;
}
.movie-genre {
  font-weight: 200;
  width: 100px;
}
.movie-title,
.movie-year,
.movie-genre {
  padding: 0 7px;
  border-bottom: 1px solid rgba(55, 1, 1, 0.2);
}
.remove,
.edit {
  padding: 0 7px;
  border-bottom: 1px solid rgba(55, 1, 1, 0.2);
  width: 20px;
  height: 20px;
  padding: 3px 5px;
}
.remove {
  fill: rgb(252, 5, 5);
}
.edit {
  fill: rgb(36, 129, 36);
}
.remove:hover,
.edit:hover {
  transform: scale(1.2);
}

