.edit-form {
    position: absolute;
    z-index: 2;
    right: -10%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 500px;
    background-color: rgb(248, 248, 78);
    height: 40%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .close {
    position: absolute;
    right: 0;
    top: 0;
    font-size: 30px;
    padding: 0 5px;
    cursor: pointer;
  }
  