.sort{
    display: flex;
    flex-direction: column;
}
.sort-title, .filter-title{
    margin:0.5rem 5px 0;
    color:white;
    font-weight: 200;
    letter-spacing: 1px;
    font-size: 18px;
}
select{
    width: 130px;
    margin: 3px 5px;
    background-color: rgb(49, 1, 1);
    color: white;
    border-radius: 3px;
    padding: 2px 5px;
    cursor: pointer;
    font-size: 18px;
}
.sort-selects{
    display: flex;
    flex-direction: row;
}